# Variable

varible is a container for storing data value. It is use as a substitute for a data value.

In [18]:
print('hello world')

hello world

# Assigning Value to a Variable

In [21]:
x=22

print(x)

22

In [4]:
type(x)

int

In [10]:
y='Micheal'

print(y)

Micheal

In [12]:
type(y)

str

 # Overwriting a variable

In [21]:
y= 'Micheal'

y='Victor'

print(y)

Victor

# Variables are case sensitive

In [24]:
y= 'Micheal'

Y='Victor'

print(y)

Micheal

In [26]:
y= 'Micheal'

Y='Victor'

print(Y)

Victor

# Assigning Values to multiple Variables

In [28]:
x,y,z='Micheal','Iyanzy','Victor'
print(x)
print(y)
print(z)

Micheal
Iyanzy
Victor

In [36]:
x=y=z='Micheal'

print(x)
print(y)
print(z)

Micheal
Micheal
Micheal

# Creating list

In [2]:
Family_for_life= ('Micheal','Iyanzy','Victor')

x,y,z= Family_for_life

print(x)
print(y)
print(z)

Micheal
Iyanzy
Victor

# Different ways of naming variable

In [9]:
# camel case

testVariableCase='Micheal'

print(testVariableCase)

Micheal

In [7]:
# Pascal case
TestVariableCase='Micheal'

In [11]:
#Snake Case
Test_Variable_Case='Micheal'

In [30]:
X='I am Adeyemi Micheal.'
print(x)

I am Adeyemi Micheal.

# Using + sign add strings together

In [24]:
x = 'I am Adeyemi Micheal and I am a Data Analyst' + '.'

print(x)

I am Adeyemi Micheal and I am a Data Analyst.

In [26]:
y= 10+45

print(y)

55

In [36]:
x='Micheal studied Agricultural Economics.'
y='Iyanzy studied Civil Engineering,'
z='While Victor studied Mechanical Engineering.'

print(x+y+z)

Micheal studied Agricultural Economics.Iyanzy studied Civil Engineering,While Victor studied Mechanical Engineering.

In [38]:
x=10
y=20
z=30

print(x+y+z)

60